<div class="player">
    <h3>
        You
    </h3>
    <div class="rectangle" [style.width.px] = "life*3" >
            <div class = "percentageLife" >{{life}}%</div>
    </div>
   
    <!-- <div class="move-right bullet"></div> -->
    
</div>

