.rectangle {
  height: 50px;
  /* width: 200px; */
  min-width: 50px;
  background-color:rgba(132, 233, 17, 0.452);
  }
.player{
  margin-top: 50px;
  margin-left: 90px;
}  
#axis {
  border: 3px solid #73AD21;
  position: absolute;
  top: 45%;
  left: 44%;
  }
  
  #axis .move-left {
  transform: translateX(200px);
  -webkit-transform: translateX(200px);
  -o-transform: translateX(200px);
  -moz-transform: translateX(200px);
  }
  
 .move-right {
  float: left;
  transition: all 1s ease-in;
  -webkit-transition: all 1s ease-in;
  -moz-transition: all 1s ease-in;
  -o-transition: all 1s ease-in;
  transform: translateX(0px);
  -webkit-transform: translateX(0);
  -o-transform: translateX(0);
  -moz-transform: translateX(0);
  }
  
  
  .move{
    transform: translateX(+200px);
    -webkit-transform: translateX(+200px);
    -o-transform: translateX(+200px);
    -moz-transform: translateX(+200px);
  }
  
  .bullet{
    height: 20px;
    width: 20px;
    background-color: rgba(9, 12, 6, 0.452);
    position: absolute;
    top: 200px;
    left: 180px;
  }
  
  .percentageLife{
    position: relative;
    top: 25%;
    left: 40%;
  }