<div class="col-12 mt-4 mb-2 tableHeight">
  <table class="table table-dark ">
    <thead>
      <tr>
        <th>Game Commentry</th>
      </tr>
    </thead>
    <tbody class="">
      <tr *ngFor="let comment of Comments">
       <td>{{comment}}</td>
      </tr>
    </tbody>
  </table>
</div>