.rectangle {
  height: 50px;
  min-width: 50px;
  background-color:rgba(233, 35, 17, 0.452);
  }
.player{
  margin-top: 50px;
  margin-left: 90px;
}  
  
  .percentageLife{
    position: relative;
    top: 25%;
    left: 40%;
  }