<div class="controlPanel">
  <div class="row">

    <div *ngIf="!start">
      <button type="button" class="btn btn-primary mr-5" (click)="startGame()">Start</button>
    </div>
    <div *ngIf = "!start && !controlPanel && replay">
      <button type="button" class="btn btn-primary mr-5" (click)="showReplay()">replay</button>
    </div>
  </div>
  
  <div class="row" *ngIf="controlPanel">
    <button type="button" class="btn btn-primary mr-5" (click)="attack()">Attack</button>
    <button type="button" class="btn btn-primary mr-5" (click)="blast()">Blast</button>
    <button type="button" class="btn btn-primary mr-5" (click)="heal()">Heal</button>
    <button type="button" class="btn btn-primary mr-5" (click)="giveUp()">Give Up</button>
  </div>
 
</div>
