<div class="row justify-content-center mt-3">
  <h1>Dragon Slayer</h1>
</div>
<body class="app-border">
  <div class="row">
    <div class="col-6">
        <app-player></app-player>
    </div>
    <div class="col-6">
          <app-dragon></app-dragon>
    </div>
  </div>
  <div class="row justify-content-center mt-5">
    
      <app-control-panel></app-control-panel>
      
  </div>
  
  <app-commentry></app-commentry>
  <app-modal></app-modal>

</body>
