<ngx-smart-modal #myModal identifier="myModal">
    <h1>{{winner}} wins</h1>
    <p>Do you want to continue</p>
    <div class= "col-12">
        <button type="button" class="btn btn-primary mr-5" (click)="start()">Restart</button>
        <button type="button" (click)="myModal.close()">Cancel</button>
    </div>
</ngx-smart-modal>